.collaboration {

}

.collaboration__wrapper {

}

.collaboration__wrapper--catalog {
  background-color: $basic-grey;
}

.collaboration__description {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}

.collaboration__address {
  font-family: $secondary-font;
  line-height: 1.43;
  font-style: normal;
  color: $special-dark-grey;
}

.collaboration__image {

}
