// .hero {

// }

// .hero__wrapper {

// }

.hero__title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.hero__description {
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

// .hero__image {

// }

// .hero__button {

// }
